@import './styles/variables.module.scss';

.container{
    background-color: $white;
    direction: rtl;
}

.mobileDesign{
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    &__filtersContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 16px 0 22px 0;
    }
    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.desktopDesign{
    display: none;
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        margin-top: 32px;
        justify-content: center;
    }
}