@import '../../styles/variables.module.scss';
@import '../../styles/mixins.module.scss';

.mobileDesign__sortButton{
    width: 160px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    @include flexCenter;
    font-family: IRANSans;
    font-size: 14px;
    line-height: 1.14;
    color: $black;
    cursor: pointer;
    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.mobileDesign__sortBox{
    position: absolute;
    width: 160px;
    height: 100px;
    top: 48px;
    left: 0;
    padding: 16px;
    text-align: right;
    background-color: white;
    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.mobileDesign__sortContent{
    font-family: IRANSans;
    font-size: 14px;
    line-height: 1.14;
    color: $black;
    text-align: right;
    margin-right:8px;
}

.desktopDesign__sortDropdown{
    width: 155px !important;
    height: 40px !important;
    color: $greyish-brown;
}

.desktopDesign__sortTitle{
    color: $details-gray;
    margin-left: 14px;
}

.desktopDesign__sortContainer{
    display: none;
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        font-family: IRANSans;
        font-size: 14px;
    }
}
